<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script>
        var svg_width = '{{svg_width}}';
        var svg_height = '{{svg_height}}';
        var field_size = 5;

        function SetGrid(svg){
            var g = d3.select("g");
            for(var i = svg_width/2.0; i < svg_width*field_size; i+=10)
            {
                g.append('line')
                    .attr('name', 'vertical_grid')
                    .attr('x1', i)
                    .attr('y1', -svg_height*field_size)
                    .attr('x2', i)
                    .attr('y2', svg_height*field_size)
                    .style('stroke', '#e0e0e0')
                    .style('stroke-width', '1px');
                g.append('line')
                    .attr('id', 'vertical_grid')
                    .attr('x1', svg_width - i)
                    .attr('y1', -svg_height*field_size)
                    .attr('x2', svg_width - i)
                    .attr('y2', svg_height*field_size)
                    .style('stroke', '#e0e0e0')
                    .style('stroke-width', '1px');
            }
            for(var i = svg_height/2.0; i < svg_height*field_size; i+=10)
            {
                g.append('line')
                    .attr('name', 'horisontal_grid')
                    .attr('x1', -svg_width*field_size)
                    .attr('y1', i)
                    .attr('x2', svg_width*field_size)
                    .attr('y2', i)
                    .style('stroke', '#e0e0e0')
                    .style('stroke-width', '1px');
                g.append('line')
                    .attr('id', 'horisontal_grid')
                    .attr('x1', -svg_width*field_size)
                    .attr('y1', svg_height - i)
                    .attr('x2', svg_width*field_size)
                    .attr('y2', svg_height - i)
                    .style('stroke', '#e0e0e0')
                    .style('stroke-width', '1px');
            }
        }
        //AJAX
        function DataProcessing() {
            var parameters = [];
            var parameters_list = $("input[name='parameters']");
            for (var i=0; i < parameters_list.length; i++)
            {
                var param = {}
                param.name = parameters_list[i].id.split('_')[1];
                param.value = $(parameters_list[i]).val();
                parameters[i] = param;
            }
            // alert(parameters);
            $.ajax({
                    xhr: function()
                    {
                        $('#status_bar').val('0%');
                        $('#status_block').css('opacity', '1');
                        var xhr = new window.XMLHttpRequest();
                        // прогресс загрузки на сервер
                        xhr.upload.addEventListener("progress", function(evt){
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total * 100;
                                // делать что-то...
                                $('#status_bar').val(String(Math.round(percentComplete)) + '%');
                                console.log(percentComplete*100);
                            }
                        }, false);
                        // прогресс скачивания с сервера
                        xhr.addEventListener("progress", function(evt){
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total * 100;
                                // делать что-то...
                                $('#status_bar').val(String(Math.round(percentComplete)) + '%');
                                console.log(percentComplete);
                            }
                        }, false);
                        return xhr;
                    },
                    url: '/graph/data_processing',
                    data: {
                        'formula': $('#formula_string').val(),
                        'width': svg_width,
                        'height': svg_height,
                        'detail': $('#detail_string').val(),
                        'parameters':  JSON.stringify(parameters)},
                    success: function (data) {
                        $('#status_block').css('opacity', '0');
                        Paint(data);
                    },
                    error: function (data) {
                        alert('Возникла ошибка. Проверьте правильность ввода строки.');
                    }
                }
            );
        }

        function zoomed() {
          g.attr("transform", d3.event.transform);
        }

        function GraphInit() {
            //Create SVG element
            var formula = document.getElementById('formula_string');
            formula.setAttribute("style", "width: " + String(svg_width) + 'px');
            var svg = d3.select("#visual_block")
                        .append("svg")
                        .attr('id', 'paint_plate')
                        .attr("width", svg_width)
                        .attr("height", svg_height)
                        .style('border', '1px solid #aaaaaa')
                        .style('background-color', '#ffffff');

            var g = svg.append("g");
            g.append("rect")
                    .attr("id", "special_rect")
                    .attr("width", svg_width)
                    .attr("height", svg_height)
                    .style("fill", "none")
                    .style("pointer-events", "all");
                    /*.call(d3.zoom()
                        .scaleExtent([1 / 2, 4])
                        .on("zoom", function(){
                            g.attr("transform", d3.event.transform);
                        }));*/
            SetGrid(svg);
            svg.call(d3.zoom()
                .scaleExtent([1 / 2, 8])
                .on("zoom", function(){
                           // alert('a');
                            g.attr("transform", d3.event.transform);
                        }));

            var paint_plate = document.getElementById('paint_plate');
            paint_plate.onmousemove = function(event){
                var offset_left = paint_plate.getBoundingClientRect().left;
                var offset_top = paint_plate.getBoundingClientRect().top;
                var x_pos = event.clientX - svg_width/2.0 - offset_left;
                var y_pos = -event.clientY + svg_height/2.0 + offset_top;
                /*var transform_str = g.attr("transform");
                if (transform_str != null)
                {
                    var translateX = Number(transform_str.split('translate(')[1].split(') scale(')[0].split(',')[0]);
                    var translateY = Number(transform_str.split('translate(')[1].split(') scale(')[0].split(',')[1]);
                    var scale = Number(transform_str.split('translate(')[1].split(') scale(')[1].split(')')[0]);
                    x_pos = x_pos*scale + translateX;
                    y_pos = y_pos*scale + translateY;
                }*/
                document.getElementById('coordinates_string').innerText = 'x: ' + String(x_pos) + ' y: ' + String(y_pos);
            };
            paint_plate.onmouseout = function(event){
                document.getElementById('coordinates_string').innerText = '';
            };
            var xAxisLength = 100;
            /*
            var xAxis = svg.axis().scale(xAxisLength).orient("bottom").ticks(5);
            g.call(xAxis);*/
            g.append("line")
                .attr('id', 'X_axis')
                .attr('x1', -svg_width*field_size)
                .attr('y1', svg_height/2.0)
                .attr('x2', svg_width*field_size)
                .attr('y2', svg_height/2.0)
                .style('stroke', '#909090')
                .style('stroke-width', '1px');
            g.append("line")
                .attr('id', 'Y_axis')
                .attr('x1', svg_width/2.0)
                .attr('y1', -svg_height*field_size)
                .attr('x2', svg_width/2.0)
                .attr('y2', svg_height*field_size)
                .style('stroke', '#909090')
                .style('stroke-width', '1px');
        }
        function Paint(data){
            var dataset = JSON.parse(data);
            // var svg = d3.select("svg");
            var g = d3.select("g");
            Clear(g);
            var thickness = $('#thickness_string').val();
            g.selectAll("circle")
                       .data(dataset)
                       .enter()
                       .append("circle")
                       .attr("cx", function(d) {
                            return d[0] + svg_width/2.0;
                       })
                       .attr("cy", function(d) {
                            return -d[1] + svg_height/2.0;
                       })
                       .attr("r", thickness);

        }
        function Clear(g){
            g.selectAll("circle").remove();
        }

/*
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var points = d3.range(2000).map(phyllotaxis(10));

var g = svg.append("g");

g.selectAll("circle")
    .data(points)
  .enter().append("circle")
    .attr("cx", function(d) { return d[0]; })
    .attr("cy", function(d) { return d[1]; })
    .attr("r", 2.5);

svg.append("rect")
    .attr("width", width)
    .attr("height", height)
    .style("fill", "none")
    .style("pointer-events", "all")
    .call(d3.zoom()
        .scaleExtent([1 / 2, 4])
        .on("zoom", zoomed));

function zoomed() {
  g.attr("transform", d3.event.transform);
}

function phyllotaxis(radius) {
  var theta = Math.PI * (3 - Math.sqrt(5));
  return function(i) {
    var r = radius * Math.sqrt(i), a = theta * i;
    return [
      width / 2 + r * Math.cos(a),
      height / 2 + r * Math.sin(a)
    ];
  };
}
*/
    </script>
</head>
<body onload="GraphInit();">
    <h3>graph container</h3>
    <div id="legend" class="div_block">
        <a id="start_painting" class="button" onclick="DataProcessing();">Построить</a>
        <a id="clearing" class="button" onclick="Clear(d3.select('g'));">Очистить</a>
        <div id="status_block" style="transition: opacity 1s; opacity: 0; display: inline;">
            <label for="status_bar">Статус выполнения:</label>
            <input type="text" id="status_bar" class="info" disabled readonly/>
        </div>
        <div id="coordinates_string" class="info"></div>
    </div>
    <div id="data_block" class="div_block">
        <table>
            <tr>
                <th colspan="2">Настройки построения</th>
            </tr>
            <tr>
                <td><label for="detail_string">Шагов на единицу:</label></td>
                <td><label for="thickness_string">Радиус точек построения:</label></td>
                <!--<td><label for="orientation_select">Вид обхода:</label></td>-->
                <!--<td><label for="color_select">Цвет точек построения:</label></td>-->
            </tr>
            <tr>
                <td><input type="number" id="detail_string" name="data_container" min="1" value="10"/></td>
                <td><input type="number" id="thickness_string" name="data_container" min="0.001" value="0.1"/></td>
                <!--<td>
                    <select id="orientation_select" name="data_container">
                        <option value="hor">Горизонтальный</option>
                        <option value="vert">Вертикальный</option>
                        <option value="dbl">Двойной</option>
                    </select>
                </td>-->
               <!--<td>
                    <select id="color_select">
                        <option value="#000000"><p style="width: 20px; background-color: #000000;"></p></option>
                        <option value="#ff0000"></option>
                        <option value="#00ff00"></option>
                        <option value="#0000ff"></option>
                    </select>
                </td>-->
            </tr>
            <tr>
                <th colspan="2">Переменные</th>
            </tr>
            <tr>
                <td><label for="X_selector">Ось X:</label></td>
                <td><label for="Y_selector">Ось Y:</label></td>
            </tr>
            <tr>
                <td>
                    <select id="X_selector" name="data_container" style="width:100%;">
                        {% for variable in variables %}
                            <option value="{{ variable }}">{{ variable }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="Y_selector" name="data_container" style="width:100%;">
                        <option value="empty">---</option>
                        {% for variable in variables %}
                            <option value="{{ variable }}">{{ variable }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>

        <table style="border: 1px dashed #609fff; border-radius: 5px;">
            <tr>
                <th colspan="{{ variables|length }}">Значения параметров</th>
            </tr>
            <tr>
                {% for variable in variables %}
                    <td><label for="parameter_{{ variable }}">{{ variable }}:</label></td>
                {% endfor %}
            </tr>
            <tr>
                {% for variable in variables %}
                    <td><input type="number" id="parameter_{{ variable }}" name="parameters" value="0"/></td>
                {% endfor %}
            </tr>
        </table>

        <label for="formula_string"><b>Формула для построения:</b></label><br/>
        <input type="text" id="formula_string" name="data_container" value="4*sqrt(x)+25"/><br/>
    </div>
    <div id="visual_block" class="div_block">
    </div>
</body>
</html>