<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script>
        var svg_width = '{{svg_width}}';
        var svg_height = '{{svg_height}}';

        function SetGrid(svg){
            var g = d3.select("g");
            for(var i = svg_width/2.0; i < svg_width; i++)
            {
                g.append('line')
                    .attr('name', 'vertical_grid')
                    .attr('x1', i)
                    .attr('y1', 0)
                    .attr('x2', i)
                    .attr('y2', svg_height)
                    .style('stroke', '#e0e0e0')
                    .style('stroke-width', '1px');
                g.append('line')
                    .attr('id', 'vertical_grid')
                    .attr('x1', svg_width - i)
                    .attr('y1', 0)
                    .attr('x2', svg_width - i)
                    .attr('y2', svg_height)
                    .style('stroke', '#e0e0e0')
                    .style('stroke-width', '1px');
            }
            for(var i = svg_height/2.0; i < svg_height; i++)
            {
                g.append('line')
                    .attr('name', 'horisontal_grid')
                    .attr('x1', 0)
                    .attr('y1', i)
                    .attr('x2', svg_width)
                    .attr('y2', i)
                    .style('stroke', '#e0e0e0')
                    .style('stroke-width', '1px');
                g.append('line')
                    .attr('id', 'horisontal_grid')
                    .attr('x1', 0)
                    .attr('y1', svg_height - i)
                    .attr('x2', svg_width)
                    .attr('y2', svg_height - i)
                    .style('stroke', '#e0e0e0')
                    .style('stroke-width', '1px');
            }
        }
        //AJAX
        function DataProcessing() {
            $.ajax({
                    url: '/graph/data_processing',
                    data: {
                        'formula': $('#formula_string').val(),
                        'width': svg_width,
                        'height': svg_height,
                        'detail': $('#detail_string').val()},
                    success: function (data) {
                        //$('#testtext').val(data)
                        Paint(data);
                    },
                    onerror: function (data) {
                    alert('Возникла ошибка');
                    }
                }
            );
        }

        function zoomed() {
          g.attr("transform", d3.event.transform);
        }

        function GraphInit() {
            //Create SVG element
            var formula = document.getElementById('formula_string');
            formula.setAttribute("style", "width: " + String(svg_width) + 'px');
            var svg = d3.select("#visual_block")
                        .append("svg")
                        .attr('id', 'paint_plate')
                        .attr("width", svg_width)
                        .attr("height", svg_height)
                        .style('border', '1px solid #aaaaaa')
                        .style('background-color', '#ffffff');

            var g = svg.append("g");
            g.append("rect")
                    .attr("id", "special_rect")
                    .attr("width", svg_width)
                    .attr("height", svg_height)
                    .style("fill", "none")
                    .style("pointer-events", "all");
                    /*.call(d3.zoom()
                        .scaleExtent([1 / 2, 4])
                        .on("zoom", function(){
                            g.attr("transform", d3.event.transform);
                        }));*/
            SetGrid(svg);
            svg.call(d3.zoom()
                .scaleExtent([1 / 2, 8])
                .on("zoom", function(){
                           // alert('a');
                            g.attr("transform", d3.event.transform);
                        }));

            var paint_plate = document.getElementById('paint_plate');
            paint_plate.onmousemove = function(event){
                var offset_left = paint_plate.getBoundingClientRect().left;
                var offset_top = paint_plate.getBoundingClientRect().top;
                document.getElementById('coordinates_string').innerText = 'x: ' + String(event.clientX - svg_width/2.0 - offset_left) + ' y: ' + String(-event.clientY + svg_height/2.0 + offset_top);
            };
            paint_plate.onmouseout = function(event){
                document.getElementById('coordinates_string').innerText = '';
            };
            g.append("line")
                .attr('id', 'X_axis')
                .attr('x1', 0)
                .attr('y1', svg_height/2.0)
                .attr('x2', svg_width)
                .attr('y2', svg_height/2.0)
                .style('stroke', '#909090')
                .style('stroke-width', '1px');
            g.append("line")
                .attr('id', 'Y_axis')
                .attr('x1', svg_width/2.0)
                .attr('y1', 0)
                .attr('x2', svg_width/2.0)
                .attr('y2', svg_height)
                .style('stroke', '#909090')
                .style('stroke-width', '1px');
        }
        function Paint(data){
            var dataset = JSON.parse(data);
            // var svg = d3.select("svg");
            var g = d3.select("g");
            Clear(g);
            g.selectAll("circle")
                       .data(dataset)
                       .enter()
                       .append("circle")
                       .attr("cx", function(d) {
                            return d[0] + svg_width/2.0;
                       })
                       .attr("cy", function(d) {
                            return -d[1] + svg_height/2.0;
                       })
                       .attr("r", 1);

        }
        function Clear(g){
            g.selectAll("circle").remove();
        }

/*
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var points = d3.range(2000).map(phyllotaxis(10));

var g = svg.append("g");

g.selectAll("circle")
    .data(points)
  .enter().append("circle")
    .attr("cx", function(d) { return d[0]; })
    .attr("cy", function(d) { return d[1]; })
    .attr("r", 2.5);

svg.append("rect")
    .attr("width", width)
    .attr("height", height)
    .style("fill", "none")
    .style("pointer-events", "all")
    .call(d3.zoom()
        .scaleExtent([1 / 2, 4])
        .on("zoom", zoomed));

function zoomed() {
  g.attr("transform", d3.event.transform);
}

function phyllotaxis(radius) {
  var theta = Math.PI * (3 - Math.sqrt(5));
  return function(i) {
    var r = radius * Math.sqrt(i), a = theta * i;
    return [
      width / 2 + r * Math.cos(a),
      height / 2 + r * Math.sin(a)
    ];
  };
}
*/
    </script>
</head>
<body onload="GraphInit();">
    <h3>graph container</h3>
    <div id="legend" class="div_block">
        <a id="start_painting" class="button" onclick="DataProcessing();">Построить</a>
        <a id="clearing" class="button" onclick="Clear(d3.select('g'));">Очистить</a>
        <div id="coordinates_string" class="info"></div>
    </div>
    <div id="data_block" class="div_block">
        <label for="detail_string">Шагов на единицу:</label><br/>
        <input type="number" id="detail_string" name="data_container" min="1" value="10"/><br/>
        <label for="formula_string">Формула для построения:</label><br/>
        <input type="text" id="formula_string" name="data_container" value="4*sqrt(x)+25"/><br/>
        <label for="X_selector">Ось X:</label>
        <select id="X_selector" name="data_container">
            {% for variable in variables %}
                <option value="{{ variable }}">{{ variable }}</option>
            {% endfor %}
        </select>
        <label for="Y_selector">Ось Y:</label>
        <select id="Y_selector" name="data_container">
            {% for variable in variables %}
                <option value="{{ variable }}">{{ variable }}</option>
            {% endfor %}
        </select><br/>
    {% for variable in variables %}
        <label for="parameter_{{ variable }}">{{ variable }}:</label>
        <input type="number" id="parameter_{{ variable }}"/>
    {% endfor %}
    </div>
    <div id="visual_block" class="div_block">
    </div>
</body>
</html>