<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
    function Paint(){
        var dataset = JSON.parse('{{points}}');
        //alert(dataset[1][0]);
        var svg_width = '{{svn_width}}';
        var svg_height = '{{svn_height}}';
        //Create SVG element
        var svg = d3.select("body")
                    .append("svg")
                    .attr("width", svg_width)
                    .attr("height", svg_height)
            .attr('style', 'border: 1px solid black;');
        svg.selectAll("circle")
                   .data(dataset)
                   .enter()
                   .append("circle")
                   .attr("cx", function(d) {
                       // alert(d[0] + svg_width/2.0);
                        return d[0] + svg_width/2.0;
                   })
                   .attr("cy", function(d) {
                        return -d[1] + svg_height/2.0;
                   })
                   .attr("r", 1);
    }
    </script>
</head>
<body>
    {% load static %}
    <h3>graph container</h3>
    <div id="legend">
        x <input type="number" class="test"/>
    </div>
    <div id="datablock">
    </div>
<script>
    Paint();
</script>
</body>
</html>